* {
    margin: 0;
    padding: 0;
}

header {
    background-image: url(images/banner/banner1.png);
    background-size: cover;
}

.banner {
    display: flex;
    flex-direction: column;
    align-items: right;
    text-align: right;
    padding: 280px 230px 370px 1000px;
    /* border: solid black; */
}

.bnr-title {
    font-weight: 700;
    font-size: 60px;
    /* border: solid black; */
}

.bnr-description {
    font-weight: 400;
    font-size: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
    /* border: solid black; */
}

.bnr-btn {
    text-decoration: none;
    color: #ffffff;
    background-color: #F15B22;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    padding: 21px 24px;
    margin-left: auto;
}

.bnr-btn:hover {
    text-decoration: none;
    color: #ffffff;
    background-color: #8f82db;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    padding: 21px 24px;
    margin-left: auto;
}

/* working with section 1 */

.sec1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;
    /* border: solid blueviolet; */
}

.person{
    width: 550px;
}

.sec1-title {
    font-weight: 700;
    font-size: 50px;
    color: rgb(14, 122, 122);
    /* border: solid blue; */
}

.sec1-text{
    display: flex;
    flex-direction: column;
    width: 700px;
    /* border: solid black; */
}

.sec1-para{
    padding: 15px 0px;
}

ul li{
    list-style: none;
}

.sec1-li{
    padding: 8px 0;
}

.Black-cross{
    width: 12px;
    padding: 0 6px ;
}

/* Section2 (my plans) */

.section2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}