* {
    margin: 0;
    padding: 0;
}

header {
    background-image: url(images/banner/banner1.png);
    background-size: cover;
}

.banner {
    display: flex;
    flex-direction: column;
    align-items: right;
    text-align: right;
    padding: 280px 230px 370px 1000px;
    /* border: solid black; */
}

.bnr-title {
    font-weight: 700;
    font-size: 60px;
    /* border: solid black; */
}

.bnr-description {
    font-weight: 400;
    font-size: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
    /* border: solid black; */
}

.bnr-btn {
    text-decoration: none;
    color: #ffffff;
    background-color: #F15B22;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    padding: 21px 24px;
    margin-left: auto;
}

.bnr-btn:hover {
    text-decoration: none;
    color: #ffffff;
    background-color: #8f82db;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    padding: 21px 24px;
    margin-left: auto;
}

/* working with section 1 */

.sec1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;
    padding: 6em 0;
    background-color: rgb(224, 247, 255);
    /* border: solid blueviolet; */
}

.person{
    width: 550px;
}

.sec1-title {
    font-weight: 700;
    font-size: 50px;
    color: rgb(40, 28, 209);
    /* border: solid blue; */
}

.sec1-text{
    display: flex;
    flex-direction: column;
    width: 700px;
    /* border: solid black; */
}

.sec1-para{
    padding: 15px 0px;
}

ul li{
    list-style: none;
}

.sec1-li{
    padding: 8px 0;
}

.Black-cross{
    width: 12px;
    padding: 0 6px ;
}

/* Section2 (my plans) */

.section2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    /* border: solid black; */
}

.sec2-plans{
    display: flex;
    gap: 5em;
}

.sec-title{
    font-weight: 700;
    font-size: 40px;
    padding-bottom: 1.7em;
}

.sec2-card{
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}

.sec2-card p{
    font-weight: 400;
    font-size: 25px;
    color: #737272;
}

.plan-ico{
    width: 80px;
}

/* working with section 3 */

.sec3{
    margin-top: 5rem;
    margin-bottom: 5rem ;
    height: 300px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image:  url(images/gradient1.png) , url(images/watch.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    padding-left: 26em;
    /* border: solid black; */
}

.sec3-title{
    width: 380px;
    font-weight: 700;
    font-size: 40px;
    color:white;
}

.sec3-btn{
    width: 7.5em;
    text-decoration: none;
    color: #F15B22;
    background-color: #ffffff;
    /* border: 1px solid #F15B22; */
    padding: 20px 0;
    border-radius: 5px;
    font-weight: 600;
    margin-top: 20px;
    text-align: center;
}

.sec3-btn:hover{
    width: 7.5em;
    text-decoration: none;
    color: white;
    background-color: #F15B22;
    /* border: 1px solid ; */
    padding: 20px 0;
    border-radius: 5px;
    font-weight: 600;
    margin-top: 20px;
    text-align: center;
}

.foot{
    display: flex;
    background-color: black;
}
 .contact{
    color: white;
 }

.ftr-ico-list{
    display: flex;
}

.ftr-ico-list li{
    list-style: none;
}