* {
    margin: 0;
    padding: 0;
}

header {
    background-image: url(images/banner/banner1.png);
    background-size: cover;
}

.banner {
    display: flex;
    flex-direction: column;
    align-items: right;
    text-align: right;
    padding: 280px 230px 360px 1000px;
    /* border: solid black; */
}

.bnr-title {
    font-weight: 700;
    font-size: 65px;
    /* border: solid black; */
}

.bnr-description {
    font-weight: 400;
    font-size: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
    /* border: solid black; */
}

.bnr-btn {
    text-decoration: none;
    color: #ffffff;
    background-color: #F15B22;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    padding: 21px 24px;
    margin-left: auto;
}

.bnr-btn:hover {
    text-decoration: none;
    color: #ffffff;
    background-color: #8f82db;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    padding: 21px 24px;
    margin-left: auto;
}